hr {
    border-top: 3px solid rgba(251,179,106,1) !important;
}

.img-plan {
    border-radius: 50%;
    width: 60px;
    margin-bottom: 10px;
}

.price h6 {
    font-weight: 700;
}

.btn {
    font-size: 15px !important;
}