body {
    /* font-family: 'Archivo Black', sans-serif; */
}

.btn-primary{
    background-color: #f9a775;
    border-color: white;
    color: white;
}

.btn-primary:hover{
    background-color: white;
    border-color: #f9a775;
    color: #f9a775;
}

.btn-secondary{
    background-color: #f071a4;
    border-color: white;
    color: white;
}

.btn-secondary-inverse {
    background-color: #fff;
    border-color: #f071a4;
    color: #000;
}

.btn-active {
    background-color: #f071a4;
    border-color: #f071a4;
    color: #fff;
}

.btn-secondary-inverse:hover {
    background-color: #f071a4;
    border-color: #f071a4;
    color: #fff;
}

.btn-primary-inverse {
    background-color: white;
    border-color: #f9a775;
    color: #000;
    font-weight: 500;
}

.btn-primary-inverse:hover {
    background-color: #f9a775;
    border-color: white;
    color: white;
}

.btn-secondary:hover{
    background-color: white;
    border-color: #f071a4;
    color: #f071a4;
}

.btn-third{
    background-color: white;
    border-color: #f071a4;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
}

.btn-third:hover{
    background-color: #f071a4;
    border-color: white;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.bg-primary{
    padding: 0 !important;
    background: linear-gradient(90deg, rgba(251,179,106,1) 0%, rgba(246,154,138,1) 35%, rgba(241,115,165,1) 100%) !important;
}

.h2-bigger{
    color: #fbb26a;
    font-size: 50px;
}

.center{
    display: block;
    margin: auto;    
}

.left-border{
    border-left: 2px solid #ef6da7;
}

.bg-home{
    background-image: url("/img/bg-1.png");
    width: 100%;
    position: relative;
}

.btn {
    border-radius: 5px;
}

#services li {
    display: inline-block;
}

#services li > a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

#services li:after{
    content: '\2022';
    padding-right: 25px;
    padding-left: 25px;
    color: #f171a6;
    font-size: 20px;
    font-weight: 900;
}

.last-child::after {
    content: '' !important;
}

.logo {
    max-width: 60%;
}

#howItWorks li {
    display: inline-block;
    margin: 15px;
}

#howItWorks li > a {
    color: #000;
}

.text-underline {
    text-decoration: underline;
}

.font-primary {
    color: #f071a4;
}

.font-orange {
    color: #fbb26a;
}

.font-red {
    color: red;
}

.form-control2 {
    border-radius: 10px;
    border: 1px solid #000;
}

.form-control2::placeholder {
    color: #000;
}

label#thumbnail {
    margin-bottom: 20px;
    width: 120px;
    border: 1px solid #000;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;
}

label#thumbnail.has-thumbnail img {
    display: none;
}

.progress-bar {
    background-color: #74ff88;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    color: #000;
}